body{
	font-family: 'Lato', sans-serif;
	-webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.logo{
	
}
.logo h1{
	font-size: 36px;
	font-weight: 900;
	margin-bottom: 0;
}
.logo span{
	font-size: 18px;
	font-weight: 300;
}
.nav{
	margin-top:80px;
}
.nav-link{
	font-size: 20px;
	font-weight: 700;
	color: black;
	padding: 5px 30px;
}
.nav li:last-child a{
	padding-right: 0px;
}
.header{
	padding-bottom:10px;
	padding-top:30px;
}
.imageSlideshow{
	background: url(../images/bigImage.jpg) no-repeat; 
	background-size: cover;
	height: 500px;
    background-position-y: 50%;
}

.sectionDivider h3{
	font-weight: 300;
	text-transform: uppercase;
	font-size: 18px;
	margin: -16px 0 0 -16px;
    padding-top: 10px;
    border-top: 1px solid black;
}

.sectionDivider{
	border-top: 1px solid #979797;
	margin-top: 50px;
	padding-top: 15px;
	margin-bottom:60px;
}
.article{
	margin-bottom: 100px;
}
.article p{
    font-size: 18px;
    color: #252525;
    line-height: 29px;
    font-weight: 300;
}

.article h4 a{
	color: black;
	font-size: 30px;
	font-weight: 700;
}
.articleTitle{
	margin-bottom:25px;
}
.articleTitle h4{
	margin-bottom:0px;
}
.articleTitle span{
	color: black;
	font-style:italic;
	font-size:14px;
	font-weight: 100;
}
.articleAuthor{
    font-weight: 700;
    color: #777777;
    font-size: 15px;
}
.articleImage{
	background-size:cover;
	width: 300px;
	height: 300px;
	float:right;
}
	.hamburger{
		display:none;
		font-size:35px;
		float:right;
	}
	.hamburger a{
		color: black;
	}

.mobileNav{
	margin: 0;
	padding: 0;
	display: none;
}
.mobileNav li{
	list-style:none;
}
.mobileNav li a{
	display: block;
	padding: 10px;
	text-align: right;
	border-top: 1px solid #efefef;
	text-transform: uppercase;
	color: black;
}
.mobileNav li a:hover{
	background: #fbfbfb;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.articleImage{
	    width: 100%;
	    height: 200px;
	    margin-bottom:10px;
	}

	.imageSlideshow{
		height:250px;
	}
	.logo h1{
		font-size:25px;
	}
	.logo span{
		font-size:16px;
	}
	.sectionDivider h3{
		margin: -16px 0 0 0;
	}
	.nav{
		display:none;
	}
	.hamburger{
		display:block;
	}
}